# ignore the config file as it contains user names and passwords
config.h

# ignore system files
.DS_Store
Thumbs.db

# ignore Visual Sutdio Code folder
.vscode/

# ignore markdown preview files
README.html 
README.log
